
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Are you sure you want to delete this User?</h1>

@using (Html.BeginForm())
{
<div class="form-actions">
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a href="/User/Index" class="btn btn-foursquare">Back</a>
</div>
}

